@import 'nib'

#searchlist .ui-field-contain
  padding 0

fieldset.trafficlight .ui-radio
  width: 33.33%

  label
    width: 100%

  .red
    background: linear-gradient(top, #FC5546, #E52D20)

    &:hover, &.ui-btn-active
      background: linear-gradient(top, #E52D20, #FC5546)

    &.ui-btn-active
      box-shadow: 0 0 7px #FC5546
      border-color: #FC5546

  .amber
    background: linear-gradient(top, #F7AA45, #E28E1F)

    &:hover, &.ui-btn-active
      background: linear-gradient(top, #E28E1F, #F7AA45)

    &.ui-btn-active
      box-shadow: 0 0 7px #F7AA45
      border-color: #F7AA45

  .green
    background: linear-gradient(top, #73F444, #52E01F)

    &:hover, &.ui-btn-active
      background: linear-gradient(top, #52E01F, #73F444)

    &.ui-btn-active
      box-shadow: 0 0 7px #73F444
      border-color: #73F444
#searchMap
  padding 0
  margin 0

.ui-body-a.ui-li-static
  background linear-gradient(top, white, #EDEFF8)
  border-bottom none

  h2
    text-decoration underline
    font-size 18px

.trafficlight-show
  width 30px
  height 30px
  border-radius 30px
  line-height 30px
  text-align center
  border 2px solid black
  margin 0
  margin-right 5px
  margin-top 3px
  color black

.trafficlight-show-major
  @extend .trafficlight-show
  width 40px
  height 40px
  line-height 40px
  margin-top -2px
  margin-right 0

.trafficlight-show-mini
  @extend .trafficlight-show
  margin 0

.trafficlight-show-cont
  overflow visible
  width 0
  height 0
  position relative
  top -10px
  left -35px