@import 'nib'

#searchlist .ui-field-contain
  padding 0

fieldset.trafficlight .ui-radio
  width: 33.33%

  label
    width: 100%

  .red
    background: linear-gradient(top, #FC5546, #E52D20)

    &:hover, &.ui-btn-active
      background: linear-gradient(top, #E52D20, #FC5546)

    &.ui-btn-active
      box-shadow: 0 0 7px #FC5546
      border-color: #FC5546

  .amber
    background: linear-gradient(top, #F7AA45, #E28E1F)

    &:hover, &.ui-btn-active
      background: linear-gradient(top, #E28E1F, #F7AA45)

    &.ui-btn-active
      box-shadow: 0 0 7px #F7AA45
      border-color: #F7AA45

  .green
    background: linear-gradient(top, #73F444, #52E01F)

    &:hover, &.ui-btn-active
      background: linear-gradient(top, #52E01F, #73F444)

    &.ui-btn-active
      box-shadow: 0 0 7px #73F444
      border-color: #73F444
