<li>
	<a href="#">
		<span>{{name}}</span>
		{{#if generalRender}}
			<div class="trafficlight-show-cont ui-li-aside"><div class="trafficlight-show-mini" style="background-color: #{{generalColour}}; box-shadow: 0 0 8px #{{generalColour}}">
				{{general}}
			</div></div>
		{{/if}}
	</a>
</li>