<form>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal" class="trafficlight">
      <legend>Wheelchair Access:</legend>
      <input type="radio" name="wheelchair" id="wheelchair-1" value="bad" />
      <label for="wheelchair-1" class="red">Bad</label>
      <input type="radio" name="wheelchair" id="wheelchair-2" value="ok" />
      <label for="wheelchair-2" class="amber">Ok</label>
      <input type="radio" name="wheelchair" id="wheelchair-3" value="good" />
      <label for="wheelchair-3" class="green">Great</label>
    </fieldset>
  </div>

  <div data-role="fieldcontain">
    <label><input type="checkbox" name="parking-chk">Parking</label>
    <fieldset data-role="controlgroup" data-type="horizontal" class="trafficlight">
      <input type="radio" name="parking" id="parking-1" value="bad" />
      <label for="parking-1" class="red">Bad</label>
      <input type="radio" name="parking" id="parking-2" value="ok" />
      <label for="parking-2" class="amber">Ok</label>
      <input type="radio" name="parking" id="parking-3" value="good" />
      <label for="parking-3" class="green">Great</label>
    </fieldset>
  </div>

  <div data-role="fieldcontain">
    <label><input type="checkbox" name="toilet-chk">Toilet</label>
    <fieldset data-role="controlgroup" data-type="horizontal" class="trafficlight">
      <input type="radio" name="toilet" id="toilet-1" value="bad" />
      <label for="toilet-1" class="red">Bad</label>
      <input type="radio" name="toilet" id="toilet-2" value="ok" />
      <label for="toilet-2" class="amber">Ok</label>
      <input type="radio" name="toilet" id="toilet-3" value="good" />
      <label for="toilet-3" class="green">Great</label>
    </fieldset>
  </div>

  <div data-role="fieldcontain">
    <label><input type="checkbox" name="staff-chk">Staff</label>
    <fieldset data-role="controlgroup" data-type="horizontal" class="trafficlight">
      <input type="radio" name="staff" id="staff-1" value="bad" />
      <label for="staff-1" class="red">Bad</label>
      <input type="radio" name="staff" id="staff-2" value="ok" />
      <label for="staff-2" class="amber">Ok</label>
      <input type="radio" name="staff" id="staff-3" value="good" />
      <label for="staff-3" class="green">Great</label>
    </fieldset>
  </div>

</form>
